body {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border: 3px solid blue;
    padding: 0 2rem 1rem;
}

h1 {
    color: blue;
}

label {
    float: left;
    width: 11rem;
    text-align: right;
}

input {
    margin: 0 0 .5rem 1rem;
}

span {
    color: red;
}

#join_list {
    margin-left: 12rem;
}